// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  body {
  background-color: #D3D9F2;
  background-position: center;
  color: black;
  text-align: center;

  .welcome {

    background-image: url("maxresdefault.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    // width: 100vh;
    background-position: center;

    h1 {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    }

  }

}
